{% extends 'layout.html'%}

{% block content %}
<h2 align="center">3) เขียนโปรแกรมหา index ของตัวเลขที่มีค่ามากที่สุดใน Array ด้วยภาษา python เช่น [1,2,1,3,5,6,4]
     ลำดับที่มีค่ามากที่สุด คือ index = 5 โดยไม่ให้ใช้ฟังก์ชั่นที่มีอยู่แล้ว ให้ใช้แค่ลูปกับการเช็คเงื่อนไข</h2>


     <form action="app3" method="post">
          {% csrf_token %}
          
          {% if num01 is not None %}
          <div class="alert alert-primary" role="alert">

               <h2>{{ num01 }}</h2>

              
          
          </div> 
          {% endif %}


          <div class="form-group">
               <label for="">number array</label>
               <input type="text" class="form-control" name="number">
               <input type="submit" value = "submit" class="btn btn-primary">
          </div>
      
      
      
     </form>

     {% if messages %}
     <div class="alert alert-primary" role="alert">
     
         {% for message in messages %}
         <b>{{message}}</b><br>
         {% endfor %}
     
     </div> 
     
     {% endif %}

{% endblock %}